.user-list {
    list-style: none;
    display: grid;
    padding: 0px;
    gap: 16px;
    margin: 20px auto;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.back_page {
    display: flex;
    justify-content:left;
    font-size: 20px;
    align-items: center;
    width: 100%;
    gap: 4px;
    margin-left: 10px
}

.back_page_list {
    text-decoration: none;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
  
.left {
      transform: rotate(135deg);
      margin-right: 7px;
      vertical-align: middle;
}