.user-list {
    list-style: none;
    display: grid;
    padding: 0px;
    gap: 16px;
    margin: 20px auto;
    max-width: calc(100vw - 48px);
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}